<template name="ChatpalTaC_EN">
	<h2 class="card-heading simple anchor" id="api-terms">API Terms</h2>

	<div class="card-body">

		<p>
			These terms are supplemented by the <a href="http://redlink.co/legal/">Redlink overall Legal Terms</a> that explain how Redlink GmbH allows you to use our application programming interface (referred to as “our API”) to enrich data, publish data as link data and search over it using <span class="tt">api.redlink.io</span> ("our site"). Your use of our site, and a number other aspects of your relationship with us, are subject to our privacy policy as well as these terms.
		</p>

		<p>
			Please read these terms carefully before using our API. By using our API, you indicate that you accept these terms and that you agree to abide by these terms and our website.
			About us, our API, and these Terms
		</p>

		<h4>About us, our API, and these Terms</h4>

		<p>
			<span class="tt">api.redlink.io</span>, and it's connected services <span class="tt">my.redlink.io</span> and <span class="tt">data.redlink.io</span>, is operated by Redlink GmbH (referred to as "we", "us" and "our"). We are registered in Austria under company VAT number ATU67844229 and have our registered office at Jakob-Haringer Straße 3, 5020 Salzburg (Austria).
		</p>

		<p>
			For general enquiries, you can find our contact details on our contact us page on the <a href="http://redlink.co">redlink.co website</a> ("corporate site").
		</p>

		<p>
			If you require technical support for your use of our services, please use the documentation portal at dev.redlink.io. You can find more information about our technical support on our Support Policy page.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="our-api">Our API</h2>

	<div class="card-body">

		<p>
			Our API provides users with the ability to access and consume graph data through use of our online tools. The data we support (referred to as “Data”) includes publicly available dataset as well as data provided by the users in the form of custom vocabularies. The services that we provide in connection with our API, including any support services, are referred to as “our services”.
		</p>

		<p>
			Our API has a trial period of 42 days (<a href="http://redlink.co/semantic-platform/#pricing">pricing details</a>).
			Depending on use-case and demand we might use various partnership models to charge for our services.
		</p>

		<h4>Changes to these Terms</h4>

		<p>
			We may revise these terms by posting an updated version to this web page to reflect changes in market conditions affecting our business, changes in technology or our business model, changes in relevant laws and regulatory requirements, and changes in our systems.
		</p>

		<p>
			We ask that you check this page from time to time to take notice of any changes we make, as they are binding on you. Registered users of our API will be informed of changes to these terms by email at least 15 days before the change is to come into effect - if you don’t agree to a change you are able to stop using our API before the change comes into effect by closing your online account.
		</p>

		<p>
			All users should note the following sections, which give important information on the limits of our service, and you and our liability to each other.
		</p>

		<h4>Your Status</h4>

		<p>
			By registering to use our API you confirm that:
		</p>

		<ul>
			<li>you are legally capable of entering into binding contracts</li>
			<li>if you are an individual, you are of legal age as defined by Austrian law</li>
			<li>if you are acting for an organization (such as a company or a partnership), you are authorized to enter into these terms for and on behalf of that organization (in which case,</li>
			<li>references in these terms to “you” are to that organization, and not you personally)</li>
			<li>by accessing and using our API, you are complying with all applicable laws and regulations in the country in which you are located.</li>
		</ul>

	</div>

	<h2 class="card-heading simple anchor" id="accessing-using-our-api">Accessing and using our API</h2>

	<div class="card-body">

		<h4>Access and Registration</h4>

		<p>
			We restrict access to our API to users who have registered with us or who have had direct contact with our team.
		</p>

		<p>
			We reserve the right to amend the API without warning. We will not be liable if for any reason our API is unavailable for use at any time or for any period except under our service level agreement (see below).
		</p>

		<p>
			We will provide you with an API Access Key per application registered that will enable you to access our services.
		</p>

		<p>
			Your API Access Key should be considered private information and should not be shared to any person or organization. In case any accidental release, you are responsible of it revocation. Failure to abide by these terms may result in the termination of your access to services.
		</p>

		<h4>Support Service</h4>

		<p>
			All API users may access and use our online support materials - please see dev.redlink.io for our product documentation. Support might be subject to the fees and these fees will be set and published out on our site. All details sent will remain completely confidential between the user and our support team. Currently support is provided as part of our service to registered users.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="service-level-agreement">Service Level Agreement</h2>

	<div class="card-body">

		<p>
			The service level agreement (“SLA”) is available only to paying clients of Redlink’s API (including those accessing it as on-premise installation at their site) and is ruled by direct contracts defining the SLA for each specific client and/or usage scenario.
		</p>

		<p>
			You will not be entitled to any credit on our platform under this or any other SLA if you are in breach of these API terms of use or if your account had been suspended or closed.
		</p>

		<p>
			There are not SLA if you’ve been given the option of using our API but you are not paying our service.
		</p>

		<h4>Nature of the SLA</h4>

		<p>
			Our SLA does not cover the performance of the network or the internet as it is measured at the points at which our API connects to the internet.
		</p>

		<p>
			In particular, this SLA does not cover anything that is beyond our control, including reasonable control (including without limitation, acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of terror, strikes or other labour problems, computer, telecommunications, Internet service provider or hosting facility failures or delays involving hardware, software or power systems and denial of service attacks) It also does not cover service levels from our data providers (i.e. DBpedia) or our platform partners (i.e. Machine Linking).
		</p>

		<p>
			The platform credit that might be offered under this SLA is the exclusive remedy for our API not being available. If you close your account with any credit available on it, you will lose this credit and no refund will be paid.
		</p>

		<h4>Changes</h4>

		<p>
			We may change, discontinue, or add to, this SLA at any time. Registered users of our API will be informed of this at least 15 days in advance – you are able to close your account before the change comes into effect if you don’t agree with it.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="intellectual-property">Intellectual Property</h2>

	<div class="card-body">

		<p>
			We are the owner or the licensee of all intellectual property rights on our site, in the material published on our site, to our services, and in our API (and this does not include any third party data that is provided with its own licensing terms nor any private data uploaded by our users). Those works are protected by copyright laws and treaties around the world. All rights not granted to you in these terms are reserved.
		</p>

		<p>
			All official Redlink software development kits (SDK) are available under the business-friendly license <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License Version 2.0</a>. Therefore, you are completely free to use the software for any purpose, to distribute it, to modify it, and to distribute modified versions of the software, including closed-source, under the terms of the license, without concern for royalties. Plugins or tools build on top of the SDK are subject to their own licensing terms and conditions.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="suspension">Suspension</h2>

	<div class="card-body">

		<p>
			We may suspend access or use to any portion or all of our site or our services or our API at any time if we decide that:
		</p>

		<ul>
			<li>your or another user’s use of our site or our services (i) poses a security risk to us, you, or another person, (ii) may adversely impact our site, our service, our API, the Data, the Data providers, you, or any other person, or (iii) may cause us, you, or any other person to incur a liability</li>
			<li>you are in breach of these terms or our website terms or the Data license terms,
			</li>
			<li>it is required by law.</li>
		</ul>

		<h4>Interruption Outside of our Control</h4>

		<p>
			Our API is reliant on Data being provided to us by a number of other people. Our API may be interrupted by downtime suffered, or caused, by those other people.
		</p>

		<p>
			Additionally, we will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations that is caused by events outside our reasonable control. This includes but is not limited to any act of God, event, non-happening, omission or accident such as: strikes, lock-outs or other industrial action; civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war; fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster; impossibility of the use of public or private telecommunications networks (including the internet); the acts, decrees, legislation, regulations or restrictions of any government; and the effects of any denial or service attack, virus or other malicious action against our systems.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="data-available-through-us">Data Available through Us</h2>

	<div class="card-body">

		<h4>Ownership</h4>

		<h5>Personal Data</h5>

		<p>
			We seek to ensure that your personal data remains private with us. Any data that we collect is only used for the purposes that are explained in our privacy policy, and for the sole purposes of the services we provide to you. Some of our services allow you manage your data in the form of custom vocabularies and knowledge bases. We consider the content that you manage through our services to be your private data. We do not seek to usurp your rights to your content nor do we grant any licenses to third parties to it.
		</p>

		<p>
			We also restrict our visibility to the actual contents of the files as much as possible. We do not seek or want to see the contents of your files. However, we need to process the data so that we can provide you with our services.
		</p>

		<h5>Other Data</h5>

		<p>
			The Data (being data from the feeds available through our site or any dataset available on our platform), is provided to you by us but it belongs to other people. The Data is subject to separate license terms, and may be subject to separate fees.
		</p>

		<h6>Selection and Licenses</h6>

		<p>
			You will need to select which Data you wish to access through our API from our API dashboard my.redlink.io (“dashboard”). Before you can access Data from a particular source - if the source requires it - you will be shown the license terms and any fees related to that Data (if any), and be asked to agree to them. If you agree, you are committing to us and the provider of the Data that you will comply with the applicable license terms. If you do not agree to any particular license terms, we will not be able to provide you with Data from the applicable dataset.
		</p>

		<h6>Fees</h6>

		<p>
			The Data on our site might be subject to a variety of charging models and related license structures. The price for each dataset (if any) will be as stated on our site. Further details on the charging models and license structure can be found, when available, on the website pricing section of our corporate site.
		</p>

		<h6>Availability</h6>

		<p>
			If you breach the license terms for any Data, and that (directly or indirectly) causes us to incur costs or losses or a liability to another person, on demand, you will fully reimburse us for those costs (including legal fees), losses, and liability. We may also terminate your use of any particular Data if you are in breach of the license terms for that Data.
		</p>

		<h6>Compliance</h6>

		<p>
			We will do our best to ensure that our systems are available to accept the datasets in accordance with our service level agreement (see SLA section above), and that we continue to be licensed to provide the dataset to you. However, we cannot guarantee or be held responsible for the availability (or continued availability) of any Data or any dataset.
		</p>

		<h4>Using Data</h4>

		<p>
			You must comply with the Data license terms referred to in this terms at all times (even after you close your account with us).
		</p>

		<p>
			We do not test or screen the Data, we only provide tools for augmenting it through our API. Your use of any Data is at your sole risk. You are fully responsible for the use of all Data that is provide to you, whether that is your own use or use by another person that gains access to the Data through you or your systems.
		</p>

		<p>
			You may not publish online, or distribute to other people, the Data that you obtain through use of our services except to the extent that this is expressly permitted in the relevant Data license terms.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="closing-your-account">Closing Your Account</h2>

	<div class="card-body">

		<h4>Closure by You</h4>

		<p>
			You can close your account with us at any time through your online account interface. Once you close your account, the agreement between us for the provision of services to that account, and use of our API, will end.
		</p>

		<h4>Closure by Us</h4>

		<p>
			We can close your account:
		</p>

		<ul>
			<li>at any time by giving you 15 days advance warning</li>
			<li>immediately, if you breach these terms of use of our service.</li>
		</ul>

		<h4>Effect of Closing Your Account</h4>

		<p>
			You will not receive any refund if your account is closed by you, or if we close your account for reasons caused by your actions or omissions. If we close your account for reasons that are not caused by your actions or omissions.
		</p>

		<p>
			We will delete the data related to you after your account is closed, and this information will not be recoverable. It may take up to 90 days for this to be completed as it takes time to work through our systems. We will not be responsible to you for any data that is lost when your account closes. Please note that some code that you input into our systems may not be deleted, and that we may continue to use it in accordance with these terms.
		</p>

		<p>
			Once your account is closed:
		</p>

		<ul>
			<li>you will remain responsible for any unpaid fees or other amounts owed to us</li>
			<li>you must stop using our API and related material</li>
			<li>you will not have any future rights under these terms</li>
			<li>any of these terms that must continue in force to fulfil its purpose will do so and remain binding</li>
		</ul>

	</div>

	<h2 class="card-heading simple anchor" id="liability">Your Liability to Us, and Limits on Our Liability to You</h2>

	<div class="card-body">

		<p>
			We have no liability or responsibility for the Data on our site, or available through our services. Your rights of recourse in respect of the Data are against the licensor of the Data, not us. By using our site and services you agree to avoid committing any illegal activities or infringing any law.
		</p>

		<p>
			You are and will be the sole responsible entity for the contents and data you publish through our site and services. You levy us from any responsibility for any damage direct or indirect caused by the data you published through our site and services and take all responsibility without any restrictions of time and location.
		</p>

		<p>
			The material displayed on our site or through our services (including through our API) is provided without any guarantees, conditions or warranties as to its accuracy. Our site, our services, our API, and the Data, are provided ‘AS IS’.We do not promise that our site, our services, or our API, will be uninterrupted, error-free or completely secure. To the extent permitted by law:
		</p>

		<ul>
			<li>we exclude, responsibility for results obtained from the use of our site, our services, or our API, and for conclusions drawn from such use</li>
			<li>we exclude all conditions, warranties and other terms that might be implied by law</li>
			<li>neither you or us will be liable to the other for any indirect or consequential loss or damage</li>
			<li>we exclude all liability for your misconduct, tort (including negligence) or breach to these terms.</li>
		</ul>

		<p>
			We will not be liable if we are unable to provide our site, our services, or our API, for any reason that is outside of our reasonable control. Use of our services for any time critical or business critical purposes is at your own risk.
		</p>

		<p>
			The only right of action or recourse that you shall have against us shall be under contract for breach of these terms. You will not be entitled to bring an action against us in tort, for breach of statutory duty, or under any other legal theory.
		</p>

		<p>
			You must comply with all applicable laws and regulations of the country in which you are based. We will not be liable for any breach by you of any such laws, whether or not it is caused by our site, our services, or our API, or the Data.
		</p>

	</div>

	<h2 class="card-heading simple anchor" id="general">General</h2>

	<div class="card-body">

		<h4>Communications</h4>

		<p>
			The terms are in English, and any contract and other communication between you and us shall be in English. The law requires that some of the information or communications we send to you is in writing. You accept that communication with us will be mainly electronic, through our site or by e-mail, and that this constitutes written communication.
		</p>

		<p>
			When contacting you we will use the telephone, e-mail or postal address you provide to us when registering, or any replacement to those details that you have entered into your account on our site.
		</p>

		<p>
			Any official communication or notice from you to us should be sent to our postal and e-mail addresses shown above in the “about us” paragraph.
		</p>

		<h4>Invalid Terms</h4>

		<p>
			If any part of these terms is found to be invalid or unenforceable, the remainder of the terms shall not be affected.
		</p>

		<h4>Third Parties</h4>

		<p>
			A person who is not party to these terms shall not have any rights under or in connection with them, or otherwise.
		</p>

		<h4>Transfer of Rights and Obligations</h4>

		<p>
			The contract between you and us (as set out in these terms) is binding on you and us and on our respective successors and assignees. You may not transfer, assign, charge or otherwise dispose of your contract with us, or any of your rights or obligations arising under it, without our prior written approval. We may transfer, assign, charge, sub-contract or otherwise dispose of our contract with you, or any of our rights or obligations arising under it, at any time.
		</p>

		<h4>Delays in Enforcement</h4>

		<p>
			If we fail to insist upon strict performance of any of your obligations, or if we fail to exercise any of our rights or remedies, this will not constitute a waiver of such rights or remedies and will not relieve you from compliance with such obligations.
		</p>

		<h4>Laws and Disputes</h4>

		<p>
			These terms, the formation of the contract between us, use of our site, use or our services, use of our API, and any dispute or claim arising out of any of them (including non-contractual disputes or claims), are governed by the laws of Austria. All disputes between us shall be decided only by the courts within Austria.
		</p>

	</div>
</template>

<template name="ChatpalTaC_DE">
	<h2 class="card-heading simple anchor" id="api-terms">Muster-AGB für alle Unternehmen der Digitalwirtschaft (B2B)</h2>

	<div class="card-body">
		<p>
			Allgemeine Geschäftsbedingungen (AGB) bilden in jedem Unternehmen die Grundlage des täglichen Vertragsgeschäfts. Dabei ist es stets eine Gratwanderung, eine für den Verwender möglichst günstige Klausel zu formulieren, die andererseits den Anforderungen der Rechtsprechung noch genügt.
		</p>
		<h3>Service für Bitkom-Mitglieder und Nichtmitglieder</h3>
		<p>
			Allgemeine Geschäftsbedingungen im Do-it-yourself-Verfahren zu erstellen ist angesichts der vielen juristischen Fallstricke nicht ratsam. Die Bitkom Servicegesellschaft stellt Unternehmen daher vorformulierte Bitkom AGB zur Verfügung, die einen Großteil aller Geschäftsvorfälle der Digitalwirtschaft abdecken. Diese können entweder als Bitkom AGB direkt übernommen werden oder bieten eine rechtliche Orientierung bei der Ausarbeitung eigener individueller Vertragsbedingungen. Die Muster-AGB entsprechen dem aktuellen Schuldrecht und genügen den geänderten technischen Gegebenheiten.
		</p>
		<p>
			Die Basis der modular gestalteten Bitkom AGB bilden die Allgemeinen Vertragsbedingungen, die übergreifende Fragen beispielsweise zu Haftung und Leistungsstörungen für alle Vertragstypen in identischer Weise regeln. Diese können dann mit denjenigen Modulen kombiniert werden, die dem eigenen unternehmerischen Geschäftsmodell entsprechen und auf einen spezifischen Vertragszweck zugeschnitten sind.
		</p>
		<p>
			Die Bitkom AGB wurden von Experten aus Bitkom-Mitgliedsunternehmen im Bitkom-Arbeitskreis ITK- Vertrags- und Rechtsgestaltung erarbeitet. Inhaltliche Fragen, Rückmeldungen und Anregungen leiten wir gerne an diese Experten weiter.
		</p>
		<p>
			Die Bitkom AGB gelten für den Geschäftsverkehr mit Unternehmen (B2B). Bitte beachten Sie, dass die Bitkom AGB für Verträge mit Verbrauchern (B2C) nicht verwendet werden können. AGB für B2C-Verträge stellen wir derzeit nicht zur Verfügung. Auch können wir leider keine englische Version der Bitkom AGB anbieten. Die Bitkom AGB werden als pdf-Dateien mit Kopierschutz ("read-only") zur Verfügung gestellt.
		</p>
	</div>
</template>
